In [9]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
# read 데이터
df = pd.read_csv('AFSNT.CSV', encoding="cp949")
df.head()

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SDT_YY,SDT_MM,SDT_DD,SDT_DY,ARP,ODP,FLO,FLT,REG,AOD,IRR,STT,ATT,DLY,DRR,CNL,CNR
0,2017,1,1,일,ARP1,ARP3,A,A1901,SEw3Nzc2,D,N,6:10,6:18,N,NaN,N,NaN
1,2017,1,1,일,ARP1,ARP3,A,A1905,SEw4MjM2,D,N,6:15,6:25,N,NaN,N,NaN
2,2017,1,1,일,ARP1,ARP3,L,L1751,SEw4MjM3,D,N,6:20,6:30,N,NaN,N,NaN
3,2017,1,1,일,ARP1,ARP3,F,F1201,SEw4MjA3,D,N,6:25,6:34,N,NaN,N,NaN
4,2017,1,1,일,ARP3,ARP1,A,A1900,SEw3NzAz,D,N,6:30,6:37,N,NaN,N,NaN

In [10]:
# 비행기 취소와 관련된 Column 삭제
df.drop(columns=['CNL', 'CNR'], axis=1, inplace=True)

# 사용되지 않을 것 같은 데이터 일단 삭제
df.drop(columns=['REG', 'IRR', 'DRR'], axis=1, inplace=True)

In [11]:
# ATT (actual time data)가 널 값인 레코드 삭제
df = df[pd.notnull(df['ATT'])]
df.isnull().sum()

SDT_YY    0
SDT_MM    0
SDT_DD    0
SDT_DY    0
ARP       0
ODP       0
FLO       0
FLT       0
AOD       0
STT       0
ATT       0
DLY       0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 979461 entries, 0 to 987708
Data columns (total 12 columns):
SDT_YY    979461 non-null int64
SDT_MM    979461 non-null int64
SDT_DD    979461 non-null int64
SDT_DY    979461 non-null object
ARP       979461 non-null object
ODP       979461 non-null object
FLO       979461 non-null object
FLT       979461 non-null object
AOD       979461 non-null object
STT       979461 non-null object
ATT       979461 non-null object
DLY       979461 non-null object
dtypes: int64(3), object(9)
memory usage: 97.1+ MB

In [13]:
df['SDT_YY'] = df['SDT_YY'].astype('object')
df['SDT_MM'] = df['SDT_MM'].astype('object')
df['SDT_DD'] = df['SDT_DD'].astype('object')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 979461 entries, 0 to 987708
Data columns (total 12 columns):
SDT_YY    979461 non-null object
SDT_MM    979461 non-null object
SDT_DD    979461 non-null object
SDT_DY    979461 non-null object
ARP       979461 non-null object
ODP       979461 non-null object
FLO       979461 non-null object
FLT       979461 non-null object
AOD       979461 non-null object
STT       979461 non-null object
ATT       979461 non-null object
DLY       979461 non-null object
dtypes: object(12)
memory usage: 97.1+ MB

In [14]:
df.rename(columns={'SDT_YY':'Year', 'SDT_MM':'Month', 'SDT_DD':'DAY'}, inplace=True)
# 년월일 데이터를 날짜로 변환시킴
df['DAY'] = pd.to_datetime(df[['Year', 'Month', 'DAY']])
# 년, 월 데이터 삭제
df.drop(columns=['Year', 'Month'], axis=1, inplace=True)
print(df['DAY'].size)
df.head(30)

979461

          DAY SDT_DY   ARP    ODP FLO     FLT AOD   STT   ATT DLY
0  2017-01-01      일  ARP1   ARP3   A   A1901   D  6:10  6:18   N
1  2017-01-01      일  ARP1   ARP3   A   A1905   D  6:15  6:25   N
2  2017-01-01      일  ARP1   ARP3   L   L1751   D  6:20  6:30   N
3  2017-01-01      일  ARP1   ARP3   F   F1201   D  6:25  6:34   N
4  2017-01-01      일  ARP3   ARP1   A   A1900   D  6:30  6:37   N
5  2017-01-01      일  ARP1   ARP3   H   H1101   D  6:30  6:38   N
6  2017-01-01      일  ARP1   ARP3   I   I1301   D  6:30  6:44   N
7  2017-01-01      일  ARP1   ARP3   A   A1907   D  6:40  7:54   Y
8  2017-01-01      일  ARP1   ARP3   I   I1303   D  6:40  6:53   N
9  2017-01-01      일  ARP1   ARP3   J   J1204   D  6:45  7:02   N
10 2017-01-01      일  ARP1   ARP3   A   A1903   D  6:45  6:55   N
11 2017-01-01      일  ARP7   ARP3   L   L1931   D  6:50  7:06   N
12 2017-01-01      일  ARP3   ARP1   J   J1203   D  6:55  7:06   N
13 2017-01-01      일  ARP1  ARP12   J   J1634   D  7:00  7:17   N
14 2017-01-01      일  ARP4  ARP15   J   J1415   D  7:00  7:19   N
15 2017-01-01      일  ARP1   ARP3   B   B1011   D  7:00  7:09   N
16 2017-01-01      일  ARP2   ARP3   B   B1101   D  7:00  7:06   N
17 2017-01-01      일  ARP3   ARP1   A   A1928   D  7:00  7:12   N
18 2017-01-01      일  ARP2  ARP15   A   A1532   D  7:00  7:11   N
19 2017-01-01      일  ARP3   ARP1   I   I1302   D  7:00  7:16   N
20 2017-01-01      일  ARP1   ARP3   L   L1701   D  7:00  7:11   N
21 2017-01-01      일  ARP2  ARP15   J   J1405   D  7:05  7:18   N
22 2017-01-01      일  ARP2   ARP4   B  B1808F   D  7:05  7:14   N
23 2017-01-01      일  ARP1   ARP3   F   F1203   D  7:05  7:14   N
24 2017-01-01      일  ARP2   ARP3   I   I1561   D  7:05  7:36   Y
25 2017-01-01      일  ARP2   ARP3   J   J1004   D  7:10  7:22   N
26 2017-01-01      일  ARP3   ARP1   J   J1253   D  7:10  7:19   N
27 2017-01-01      일  ARP3   ARP1   A   A1901   A  7:15  7:02   N
28 2017-01-01      일  ARP1   ARP3   B   B1013   D  7:20  7:32   N
29 2017-01-01      일  ARP1   ARP3   A   A1981   D  7:20  7:30   N

In [ ]:
df['AIR'] = (df['FLT']).str[1:4]
df.loc[df['AOD'] == 'D', 'TEMP'] = df['ODP'] + '-' + df['AOD'] + '-' + df['ATT']
df.loc[df['AOD'] == 'A', 'TEMP'] = df['ARP'] + '-' + df['AOD'] + '-' + df['ATT']
df['TEMP2'] = pd.to_datetime(df['ATT'],format= '%H:%M')

df123 = df.sort_values(['AIR','FLO','DAY','TEMP2']).reset_index(drop=True)
df123.drop(['SDT_DY','STT','ATT','ARP','ODP','FLO'], axis = 1, inplace=True)

df123['ABNORMAL'] = False

# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     print(df123.head(10000))

ab = 'A'
for i, row in df123.iterrows():
    if row['AOD'] == ab:
        row.ABNORMAL = True
        df123.iloc[i] = row
    ab = row['AOD']
    
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df123.head(100))

In [ ]:
# datetime 연습

# start="23:00:00"
# end="03:00:00"
# dt = datetime.strptime(start,"%H:%M:%S").time()
# dt2 = datetime.strptime(end,"%H:%M:%S").time()
# print(type(dt))
# print (dt, dt2)

# a = datetime.combine(date.today(), dt2) - datetime.combine(date.today(), dt)
# print(a)
# print(a.seconds)

In [ ]:
# ARP 경로 파생변수 생성
df['ARPODP'] = df['ARP'] + '_' + df['ODP']
df.head()

In [ ]:
# Categorical data --> one hot encoding

one_hot_dy = pd.get_dummies(df['SDT_DY'])
df = df.drop(['SDT_DY'],axis = 1)
df = df.join(one_hot_dy)

one_hot_arp = pd.get_dummies(df['ARP'])
df = df.drop(['ARP'],axis = 1)
df = df.join(one_hot_arp)

one_hot_flo = pd.get_dummies(df['FLO'])
df = df.drop(['FLO'],axis = 1)
df = df.join(one_hot_flo)

one_hot_odp = pd.get_dummies(df['ODP'])
df = df.drop(['ODP'],axis = 1)
one_hot_odp.rename(columns={'ARP1':'ARP1_','ARP2':'ARP2_','ARP3':'ARP3_','ARP4':'ARP4_','ARP5':'ARP5_',
                            'ARP14':'ARP14_','ARP12':'ARP12_','ARP10':'ARP10_','ARP8':'ARP8_','ARP6':'ARP6_',
                            'ARP15':'ARP15_','ARP13':'ARP13_','ARP11':'ARP11_','ARP9':'ARP9_','ARP7':'ARP7_'
                  }, inplace=True)
df = df.join(one_hot_odp)

one_hot_arpodp = pd.get_dummies(df['ARPODP'])
df = df.drop(['ARPODP'],axis = 1)
df = df.join(one_hot_arpodp)

print(len(df.columns))

In [ ]:
# from datetime import datetime, date

# df_time = df[['STT', 'ATT']]
# df_time['STT'] = pd.to_datetime(df_time['STT'],format= '%H:%M')
# df_time['ATT'] = pd.to_datetime(df_time['ATT'],format= '%H:%M')
# a = df_time['ATT'] - df_time['STT']
# df['Diff'] = a
# df['Diff_'] = df['Diff'].dt.seconds.astype('int64')

from datetime import datetime, date

df['Diff'] = (pd.to_datetime(df['ATT'],format= '%H:%M') - pd.to_datetime(df['STT'],format= '%H:%M')).dt.seconds.astype('int64')
#df['Diff_P'] = (pd.to_datetime(df['ATT'],format= '%H:%M') - pd.to_datetime(df['STT'],format= '%H:%M'))

df.head(10)

In [ ]:
# # 딜레이가 최대 2시간이라고 가정했을 때, --> 즉, 2시간 초과한 딜레이는 wrong값이라 가정
# max_delay_hour = 2
# max_delay = max_delay_hour * 3600 # seconds

# # 출발비행기의 경우, 조금이라도 출발이 빠른 건 wrong data라 판단.
# # -79200 ~ 0 을 가지는 Diff 데이터 wrong 값 처리
# # -79200은 86400 - 7200 ==> 자정 넘어서 나오는 올바른 데이터는 처리하지 않기 위함
# df = df[(((df['Diff'] < -(86400-max_delay)) | (df['Diff']>= 0)) & (df['AOD']=='D')) | (df['AOD']=='A')]
# #df.drop((df['Diff'] > -79200 and df['Diff']< 0 and df['AOD']='D'))

# # 일반 도착 비행기들의 경우, delay 2시간 이상 wrong값 처리 --> 7200
# df = df[df['Diff']<= 7200]
# df.head(100)

In [ ]:

# STT와 ATT 격차 큰 순대로 정렬
df = df.sort_values(by=['Diff'], ascending=False)
df.head(20000)
# df2 = df[df['STT'] == '23:50']
# df2.head()

In [ ]:
########################################################################출발
# 딜레이가 최대 5시간이라고 가정했을 때, --> 즉, 2시간 초과한 딜레이는 wrong값이라 가정
max_delay_hour = 5
max_delay = max_delay_hour * 3600 # seconds

# 출발비행기의 경우, 조금이라도 출발이 빠른 건 wrong data라 판단.
# 7200보다 큰 값을 가지는 Diff 데이터 wrong 값 처리
df = df[((df['Diff'] <= max_delay) & (df['AOD']=='D')) | (df['AOD']=='A')]

df.head(100)

########################################################################도착
#이정도는 늦게 도착해도 O
#2시간은 예상보다 늦게도착할 수 있다. 그 이상은 말이안된다
max_delay_hour_arr = 5
max_delay_arr = max_delay_hour_arr * 3600 # seconds

#몇분 일찍도착해도 O
#30분은 예상보다 빨리도착할 수 있음. 그거보다 빨리도착하는 건 말이 안됨
min_delay = 30*60
min_delay = 86400 - min_delay  # 86400(24시간)보다 위인거만 살려놓기
df = df[(df['AOD']=='D') |((df['Diff'] <= max_delay_arr) & (df['AOD']=='A')) | ((df['AOD']=='A')& (df['Diff'] >= min_delay )) ]
df.loc[df['Diff'] >=min_delay, 'Diff'] = df.loc[df['Diff'] >=min_delay, 'Diff']  - 86400
df.head(100)

In [ ]:
# Check the numerical data
numerical_feature = [col for col in df.columns if df[col].dtypes == 'int64']
print(numerical_feature)

def dist_box(df, feature_list):
    for col in feature_list:
        plt.figure(figsize=(15, 5))
        sns.distplot(df.loc[df[col].notnull(), col])
        plt.title(col)
        plt.show()
        
        df[col].plot(kind='box', color='red')
        plt.show()
        
print('*'*50)
print('All')
dist_box(df, numerical_feature)
print('*'*50)
print('Arrive')
dist_box(df[df['AOD'] == 'A'], numerical_feature)
print('*'*50)
print('Departure')
dist_box(df[df['AOD'] == 'D'], numerical_feature)

In [ ]:
# 날짜에서 월 데이터만 추출
df['DAY'] = df['DAY'].dt.month

#df['Diff'] = (pd.to_datetime(df['ATT'],format= '%H:%M') - pd.to_datetime(df['STT'],format= '%H:%M'))
#.dt.seconds.astype('int64')

# 시간에서 시 데이터만 추출
df['ATT'] = pd.to_datetime(df['ATT'],format= '%H:%M').dt.hour
df['STT'] = pd.to_datetime(df['STT'],format= '%H:%M').dt.hour

df.head()

In [ ]:

# 앞서 못한것 그냥 다시 했고 (위에서하면 중간꺼 오류날까봐...)
one_hot_aod = pd.get_dummies(df['AOD'])
df = df.drop(['AOD'],axis = 1)
one_hot_aod.rename(columns={'A':'Arrive', 'D':'Departure'}, inplace=True)
df = df.join(one_hot_aod)

# 일단 FLT는 처리할 방법이 없어서 삭제해놓음
df.drop(['FLT'], axis=1, inplace = True)

In [ ]:
from sklearn import preprocessing

# DLY도 1과 0으로 데이터 처리
le = preprocessing.LabelEncoder()
df[['DLY']] = le.fit_transform(df[['DLY']])
    
    
df.info()

In [ ]:
# X and y variables
X = df.drop(['DLY','ATT','Diff'], axis = 1)
y = df['DLY']

from sklearn.model_selection import train_test_split, KFold, cross_val_score

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.3, random_state = 42)

# train, test set 어떻게 잡혔나 확인. 출력.

print("X_train set--------------------")
print("Shape:",X_train.shape)
print("Target:")
print(y_train.value_counts())
print()
      
print("X_test set info-----------------")
print("Shape:",X_test.shape)
print("Target:")
print(y_test.value_counts())

############# 변수 중요도 섹션

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

log_rg = LogisticRegression().fit(X_train, y_train)
cross_val_score(log_rg, X_train, y_train, cv=5)
log_rg.score(X_test, y_test)
print(classification_report(y_test, log_rg.predict(X_test)))

# X column 개수 출력
print(len(X.columns)) 

# 변수 중요도 
feature_importance_lr = pd.DataFrame(zip(X.columns.values, abs(log_rg.coef_.ravel())))
feature_importance_lr.columns = ['feature', 'coef']
feature_importance_lr.sort_values("coef", ascending=False, inplace=True)
feature_importance_lr = feature_importance_lr.reset_index().drop(['index'], axis=1)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(feature_importance_lr)

In [ ]:
# 변수 중요도 0.2 미만인 변수삭제
df.drop(columns=list(feature_importance_lr[feature_importance_lr['coef']<0.5]['feature']), axis=1, inplace=True)

In [ ]:
print(len(df.columns))
print(df.columns)
df.head()

In [ ]:

# X and y variables
X = df.drop(['DLY','ATT','Diff'], axis = 1)
y = df['DLY']

# re-scale

# from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler, MaxAbsScaler
# #scaler = RobustScaler()
# #scaler = MinMaxScaler()
# scaler = MaxAbsScaler()
# #scaler = StandardScaler()
# X['Diff'] = scaler.fit_transform(X[numerical_feature])

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, fbeta_score #To evaluate our model
from sklearn.model_selection import train_test_split, KFold, cross_val_score # to split the data
from sklearn.model_selection import GridSearchCV

# Algorithmns models to be compared
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from xgboost import XGBClassifier

# Spliting X and y into train and test version
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.25, random_state = 42)
# train, test set 어떻게 잡혔나 확인. 출력.

print("X_train set--------------------")
print("Shape:",X_train.shape)
print("Target:")
print(y_train.value_counts())
print()
      
print("X_test set info-----------------")
print("Shape:",X_test.shape)
print("Target:")
print(y_test.value_counts())

log_clf = XGBClassifier(objective="reg:linear", random_state=42)
log_clf.fit(X_train,y_train)
y_pred = log_clf.predict(X_test)
print(log_clf.score(X_test, y_test))
print(classification_report(y_test, y_pred))

In [ ]:
def plot_confusion_matrix(cm,
                          target_names,
                          title='Confusion matrix',
                          cmap=None,
                          normalize=True):
    """
    given a sklearn confusion matrix (cm), make a nice plot

    Arguments
    ---------
    cm:           confusion matrix from sklearn.metrics.confusion_matrix

    target_names: given classification classes such as [0, 1, 2]
                  the class names, for example: ['high', 'medium', 'low']

    title:        the text to display at the top of the matrix

    cmap:         the gradient of the values displayed from matplotlib.pyplot.cm
                  see http://matplotlib.org/examples/color/colormaps_reference.html
                  plt.get_cmap('jet') or plt.cm.Blues

    normalize:    If False, plot the raw numbers
                  If True, plot the proportions

    Usage
    -----
    plot_confusion_matrix(cm           = cm,                  # confusion matrix created by
                                                              # sklearn.metrics.confusion_matrix
                          normalize    = True,                # show proportions
                          target_names = y_labels_vals,       # list of names of the classes
                          title        = best_estimator_name) # title of graph

    Citiation
    ---------
    http://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html

    """
    import matplotlib.pyplot as plt
    import numpy as np
    import itertools

    accuracy = np.trace(cm) / float(np.sum(cm))
    misclass = 1 - accuracy

    if cmap is None:
        cmap = plt.get_cmap('Blues')

    plt.figure(figsize=(8, 6))
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()

    if target_names is not None:
        tick_marks = np.arange(len(target_names))
        plt.xticks(tick_marks, target_names, rotation=45)
        plt.yticks(tick_marks, target_names)

    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]


    thresh = cm.max() / 1.5 if normalize else cm.max() / 2
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        if normalize:
            plt.text(j, i, "{:0.4f}".format(cm[i, j]),
                     horizontalalignment="center",
                     color="white" if cm[i, j] > thresh else "black")
        else:
            plt.text(j, i, "{:,}".format(cm[i, j]),
                     horizontalalignment="center",
                     color="white" if cm[i, j] > thresh else "black")


    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label\naccuracy={:0.4f}; misclass={:0.4f}'.format(accuracy, misclass))
    plt.show()

In [ ]:

confusion_matrix(y_test, y_pred)

plot_confusion_matrix(cm           = confusion_matrix(y_test, y_pred), 
                      normalize    = False,
                      target_names = ['0', '1'],
                      title        = "Confusion Matrix")

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

In [ ]:

# # to feed the random state
# seed = 7

# # prepare models
# models = []
# models.append(('LR', LogisticRegression()))
# # models.append(('LDA', LinearDiscriminantAnalysis()))
# # models.append(('KNN', KNeighborsClassifier()))
# # models.append(('CART', DecisionTreeClassifier()))
# # models.append(('NB', GaussianNB()))
# # models.append(('RF', RandomForestClassifier()))
# # models.append(('SVM', SVC(gamma='auto')))
# # models.append(('XGB', XGBClassifier()))

# # evaluate each model in turn
# results = []
# names = []
# scoring = 'recall'

# for name, model in models:
#     # K-Fold
#     kfold = KFold(n_splits=10, random_state=seed)
#     cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
#     results.append(cv_results)
#     names.append(name)
#     msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
#     print(msg)

#     # Hold out 
#     model.fit(X_train, y_train)
#     y_predict = pd.Series(model.predict(X_test))

#     # Resets index to compare original test data with predicted data
#     y_test = y_test.reset_index(drop=True)
#     y_predict = y_predict.reset_index(drop=True)
    
#     plt.figure(figsize=(15, 5))
#     plt.scatter(range(y_test.shape[0]), y_test, c='gray')
#     plt.scatter(range(y_predict.shape[0]), y_predict , c='r')
#     diff = abs(y_test - y_predict)
#     plt.bar(range(diff.shape[0]), diff, color='gray')
#     plt.title('Result - Original comparsion')
#     plt.legend(['Original', 'Predict'])
#     plt.show()
    
#     print(model.score(X_test, y_test))
#     print('-' * 50)
        
# # boxplot algorithm comparison
# fig = plt.figure(figsize=(11,6))
# fig.suptitle('Algorithm Comparison')
# ax = fig.add_subplot(111)
# plt.boxplot(results)
# ax.set_xticklabels(names)
# plt.show()

In [ ]:
# # 그냥 정규화 해본 것....
# # 해보았을 때 
# '''
# MIN:  -1680.0 (28분)
# MAX:  2820.0 (47분)
# 이 정규분포 상으로 나옴
# '''

# # remove the outlier of numerical data using IQR
# for col in numerical_feature:
#     Q1 = df[col].quantile(0.25)
#     Q3 = df[col].quantile(0.75)
#     IQR = Q3 - Q1
#     print('Q1: ', Q1)
#     print('Q3: ', Q3)
#     print(col, IQR)
#     df =  df[(df[col] >= (Q1 - 1.5 * IQR))
#             & (df[col] <= (Q3 + 1.5 * IQR))]
    
#     # df[col] = np.log1p(df[col]) # skewed data 처리
#     # 안하는게 정확도가 제일 높음.  
    
# print('*'*50)
# print('All')
# dist_box(df, numerical_feature)
# print('*'*50)
# print('Arrive')
# dist_box(df[df['AOD'] == 'A'], numerical_feature)
# print('*'*50)
# print('Departure')
# dist_box(df[df['AOD'] == 'D'], numerical_feature)

# print('MIN: ', min(df['Diff']))
# print('MAX: ', max(df['Diff']))


# df.info() #932136개 데이터