In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline

# read 데이터
df = pd.read_csv('AFSNT_DLY.CSV', encoding="cp949")
df.head()

,SDT_YY,SDT_MM,SDT_DD,SDT_DY,ARP,ODP,FLO,FLT,AOD,STT,DLY,DLY_RATE
0,2019,9,16,월,ARP1,ARP3,L,L1702,A,9:05,NaN,NaN
1,2019,9,16,월,ARP3,ARP1,L,L1702,D,7:55,NaN,NaN
2,2019,9,16,월,`,ARP3,L,L1720,A,14:40,NaN,NaN
3,2019,9,16,월,ARP3,ARP1,L,L1720,D,13:30,NaN,NaN
4,2019,9,16,월,ARP4,ARP3,L,L1808,A,20:10,NaN,NaN

In [6]:
# 필요없는 column 제거
df.drop(columns=['FLT', 'DLY', 'DLY_RATE'], axis=1, inplace=True)

In [7]:
df.head()

   SDT_YY  SDT_MM  SDT_DD SDT_DY   ARP   ODP FLO AOD    STT
0    2019       9      16      월  ARP1  ARP3   L   A   9:05
1    2019       9      16      월  ARP3  ARP1   L   D   7:55
2    2019       9      16      월     `  ARP3   L   A  14:40
3    2019       9      16      월  ARP3  ARP1   L   D  13:30
4    2019       9      16      월  ARP4  ARP3   L   A  20:10

In [9]:
# 파생변수
df['ARPODP'] = df['ARP'] + '_' + df['ODP']

In [10]:
df.head()

   SDT_YY  SDT_MM  SDT_DD SDT_DY   ARP   ODP FLO AOD    STT     ARPODP
0    2019       9      16      월  ARP1  ARP3   L   A   9:05  ARP1_ARP3
1    2019       9      16      월  ARP3  ARP1   L   D   7:55  ARP3_ARP1
2    2019       9      16      월     `  ARP3   L   A  14:40     `_ARP3
3    2019       9      16      월  ARP3  ARP1   L   D  13:30  ARP3_ARP1
4    2019       9      16      월  ARP4  ARP3   L   A  20:10  ARP4_ARP3

In [11]:
# 분 삭제
df['STT'] = pd.to_datetime(df['STT'],format= '%H:%M').dt.hour

In [14]:
# 날씨데이터 합치기---------------------
# 일, 월, 화 -> 영어로 바꾸기


#---------------------------------------

   SDT_YY  SDT_MM  SDT_DD SDT_DY   ARP   ODP FLO AOD  STT     ARPODP
0    2019       9      16      월  ARP1  ARP3   L   A    9  ARP1_ARP3
1    2019       9      16      월  ARP3  ARP1   L   D    7  ARP3_ARP1
2    2019       9      16      월     `  ARP3   L   A   14     `_ARP3
3    2019       9      16      월  ARP3  ARP1   L   D   13  ARP3_ARP1
4    2019       9      16      월  ARP4  ARP3   L   A   20  ARP4_ARP3

In [15]:
# YY랑 DD삭제
df.drop(columns=['SDT_YY', 'SDT_DD'], axis=1, inplace=True)

In [17]:
def one_hot_dummies(df, *args):
    for col in args:
        one_hot_col = pd.get_dummies(df[col])
        new_col = [col + '_' + str(s) for s in one_hot_col.columns]
        one_hot_col.columns = new_col
        df = df.drop([col], axis = 1)
        df = df.join(one_hot_col)

    return df

df = one_hot_dummies(df, 'SDT_MM', 'SDT_DY', 'ARP', 'ODP', 'FLO', 'ARPODP', 'STT')

In [22]:
df.columns

# 중요도 낮은 변수들 제거

Index(['AOD', 'SDT_MM_9', 'SDT_DY_금', 'SDT_DY_목', 'SDT_DY_수', 'SDT_DY_월',
       'SDT_DY_일', 'SDT_DY_토', 'SDT_DY_화', 'ARP_ARP1',
       ...
       'STT_13', 'STT_14', 'STT_15', 'STT_16', 'STT_17', 'STT_18', 'STT_19',
       'STT_20', 'STT_21', 'STT_22'],
      dtype='object', length=110)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

def fogModel(df):
    df.fillna(0, inplace = True)
    
    scaler = MinMaxScaler()
    df[['hum', 'dew','temp','windSpeed']] = scaler.fit_transform(df[['hum', 'dew','temp','windSpeed']])
    
    # 저장된 모델 불러오기 --------------
    
    # 모델 실행 
    
    #return 확률

In [ ]:
fog = df[["temp","hum","dew","windSpeed"]]

fog_value = fogModel(fog)

In [ ]:
# 안개 모델 돌리고 얻은 확률 column 추가
df['fog'] = fog_value

In [19]:
# 도착, 출발 데이터 분리
df_A = df[df['AOD']=='A']
df_D = df[df['AOD']=='D']

# AOD column삭제 
df_A = df_A.drop(['AOD'],axis = 1)
df_D = df_D.drop(['AOD'],axis = 1)

In [ ]:
# ------------------------------ #

In [ ]:
# df_A 모델 로드 및 실행

In [ ]:
# df_D 모델 로드 및 실행

In [ ]:
# 결과 저장